@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-['Inter'] antialiased;
  }

  h2 {
    @apply text-[46px] font-semibold leading-[54px];
  }

  h3 {
    @apply text-[32px] font-semibold leading-[40px] tracking-tight;
  }

  h5 {
    @apply text-[22px] font-semibold;
  }
}

@layer components {
  .hero-section {
    @apply bg-gradient-to-r from-sky-100 to-white py-24;
  }

  .tab-button {
    @apply bg-[#F9F9F9] text-black transition-all duration-300 ease-in-out;
  }

  .tab-button.active {
    @apply bg-gradient-to-r from-[#8160F1] to-[#FF543E] text-white;
  }

  .tab-button:not(.active):hover {
    @apply border-[#a1a1aa];
  }

  .feature-slider {
    @apply flex overflow-x-auto scroll-smooth pb-4;
  }

  .feature-card {
    @apply min-w-[200px] flex-none bg-white rounded-xl p-4 text-center font-medium whitespace-nowrap;
  }

  .testimonial-card {
    @apply bg-white p-8 rounded-[15px] shadow-lg text-left;
  }

  .primary-btn {
    @apply bg-primary-blue text-white px-8 py-4 rounded-md font-medium inline-flex items-center shadow-btn;
  }
}

@layer utilities {
  .without-limits-text {
    @apply text-[#4f46e5] font-extrabold;
  }

  .without-text {
    @apply relative;
  }

  .without-text::after {
    @apply content-[''] bg-[url('/assets/stylish-underline.png')] bg-no-repeat bg-contain absolute -bottom-[15px] right-0 w-full h-[30px];
  }

  .the-most-text {
    @apply bg-gradient-to-r from-[#2358DE] to-[#FF55E0] bg-clip-text text-transparent font-extrabold w-fit;
  }

  .video-hosting-text {
    @apply block relative;
  }

  .video-hosting-text::after {
    @apply content-[''] bg-[url('/assets/stylish-underline.png')] bg-no-repeat bg-contain absolute -bottom-[18px] right-0 w-[85%] h-5;
  }

  .powerful-text {
    @apply relative;
  }

  .powerful-text::after {
    @apply content-[''] bg-[url('/assets/stylish-underline.png')] bg-no-repeat bg-contain absolute -bottom-[18px] right-0 w-[110%] h-5;
  }

  .viewers-hooked-gradient-text {
    @apply bg-gradient-to-r from-[#FF4907] to-[#B31FCA] bg-clip-text text-transparent font-extrabold;
  }

  .bg-light-blue-gradient {
    @apply bg-gradient-to-br from-[rgba(178,254,250,0.1)] to-[rgba(14,210,247,0.1)];
  }

  /* .testimonial-gradient {
    background: linear-gradient(90deg, #44FF9A -0.55%, #44B0FF 22.86%, #8B44FF 48.36%, #F64 73.33%, #EBFF70 99.34%);
    opacity: 0.3;
    width: 50%;
    margin: auto;
  } */

  .podcasting-reimagined-gradient-text {
    @apply bg-gradient-to-r from-[#FD5] to-[#FF0342] bg-clip-text text-transparent font-extrabold;
  }
}